<%- include('../partials/header', { title: project.name }) %>
<section>
  <div class="section-header">
    <h2><%= project.name %></h2>
  </div>
  <% if (project.description) { %>
    <p><strong>Description:</strong> <%= project.description %></p>
  <% } %>
  <% if (project.date) { %>
    <p><strong>Service Date:</strong> <%= project.date %></p>
  <% } %>
  <% if (project.organizationName) { %>
    <p><strong>Organization:</strong> <a href="/organizations/<%= project.organization_id %>"><%= project.organizationName %></a></p>
  <% } %>
  <p><strong>Assigned Categories:</strong></p>
  <ul>
    <% if (assignedCategories.length) { %>
      <% assignedCategories.forEach(function(category){ %>
        <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
      <% }) %>
    <% } else { %>
      <li>No categories assigned.</li>
    <% } %>
  </ul>
  <a class="button" href="/projects/<%= project.id %>/categories">Update categories</a>
  <a class="button" href="/edit-project/<%= project.id %>">Edit project</a>
  <a class="button" href="/projects">Back to projects</a>
</section>
<%- include('../partials/footer') %>
